@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Montserrat Alternates', sans-serif; */
html {
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  z-index: -1;
  background-color: #fbf7f4;
}
.container {
  z-index: -1;
}
.navbar {
  margin: 5% 0 0 10%;
}
.container-fluid a {
  color: #f8ada8;
  font-size: 23px;
  font-weight: 500;
}
.nav-link:hover {
  color: #2b8d95;
}
.nav-link {
  outline-color: #2b8d95;
}
.navbar-brand:hover {
  color: #2b8d95;
}
.anchor {
  display: none;
}

.groupRed {
  justify-content: center;
  margin-top: 1%;
  position: fixed;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  bottom: 10px;
  display: flex;
  gap: 10px;
}
.groupRed a {
  font-size: 35px;
  color: #2b8d95;
  margin: 0 15px 0 15px;
}

.serviWelTwo {
  font-size: 60px;

  font-family: 'Lobster', cursive;
  color: #dc776f;
}

#product-container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  color: #dc776f;
  width: 300px;
  height: 300px;
  margin: 10px;
}
.card-product:hover {
  translate: 0 -10px;
  transition: 200ms;
}
.position-absolute {
  margin-left: 5px;
}
.card-title {
  font-size: 23px;
  margin: 5px 0 0 10px;
  font-family: 'Lobster', cursive;
}
.card-text {
  margin: 0 0 0 10px;
  width: 250px;
}
.card-text .btn {
  margin-left: 15px;
  color: #dc776f;
}
.card-text .btn:hover {
  color: #2b8d95;
}
.selfservi {
  margin-top: 40px;
}
.foto {
  width: 250px;
  border-radius: 130px;
}
.imgServi img {
  width: 500px;
}
.selfservi {
  color: #dc776f;
}
.title-selfservi {
  font-size: 25px;
  font-family: 'Lobster', cursive;
}
.card-title-servi {
  font-size: 20px;
  color: black;
  font-weight: 500;
  letter-spacing: 2px;
}
/* -------------cart------------ */
.btn-group {
  margin: 0 10px 0 5px;
  vertical-align: bottom;
}
#increase {
  border-color: #2b8d95;
  background-color: #2b8d95;
}
#counter {
  border-color: #2b8d95;
}
#decrease {
  border-color: #2b8d95;
  background-color: #2b8d95;
}
#total {
  text-align: center;
}
.units {
  margin: 0;
}
.price {
  margin: 0;
}
#buy {
  border-color: #2b8d95;
  background-color: #2b8d95;
  margin: 0%;
}
#buy:hover {
  border-color: #dc776f;
  background-color: #dc776f;
}
#restart {
  border-color: #2b8d95;
  background-color: #2b8d95;
  margin: 0%;
}
#restart:hover {
  border-color: #dc776f;
  background-color: #dc776f;
}
#emptyMessage {
  text-align: center;
  letter-spacing: 0.5px;
  margin: 10px;
  font-size: 20px;
}
#emptyMessage a {
  text-decoration: none;
  color: #2b8d95;
}
.hiden {
  display: none;
}
